<header>
    <nav class="navbar border-md mb-5 mb-7">
        <div class="container">
            <a class="left-nav nav-link" asp-controller="Books" asp-action="Index">Books</a>
            <a class="center-nav nav-link" asp-controller="Home" asp-action="Index"><h3>Online Library</h3></a>
            <a class="right-nav nav-link" asp-controller="Home" asp-action="Favorites">Favorites</a>
        </div>
    </nav>
</header>

@*<ul>
    <li>
        <a class="left nav-link" asp-controller="Books" asp-action="Index">Books</a>
        <ul>
            <li><a href="#">Жанры</a></li>
        </ul>
    </li>
</ul>*@